@{
    ViewData["Title"] = "Predictor";
}

@model PredictData

    <div class="card mt-3">
        <div class="card-header">
            <h1 class="card-title">Crash Severity Predictor</h1>
        </div>
        <hr />

        <div class="card-body">

            @* this form is where the user puts in different inputs according to the situation of the crash *@

            <form class="form-check" method="post" asp-controller="Inference" asp-action="Score">

                <div class="form-row">
                    <div class="col form-group">
                        <label>Hour of the Day:</label><input class="form-control" asp-for="crash_time" required/>
                    </div>
                    <div class="col form-group">
                        <label>Day of Week:</label><input class="form-control" asp-for="crash_dayofweek" required/>
                    </div>
                    <div class="col form-group">
                        <label>Year:</label><input class="form-control" asp-for="crash_year" required/>
                    </div>
                    <div class="col form-group">
                        <label>Month:</label><input class="form-control" asp-for="crash_month" required/>
                    </div>
                </div>

                <div class="form-row">

                    @* these values are set up as radio buttons since they're all true or false *@

                    <div class="col-3">
                        <p>Work Zone Related:</p>
                        <input type="radio" asp-for="work_zone_related_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="work_zone_related_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Pedestrian Involved:</p>
                        <input type="radio" asp-for="pedestrian_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="pedestrian_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Bicyclist Involved:</p>
                        <input type="radio" asp-for="bicyclist_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="bicyclist_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Motorcyclist Involved:</p>
                        <input type="radio" asp-for="motorcycle_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="motorcycle_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                </div>

                <div class="form-row">


                    <div class="col-3">
                        <p>Improper Restraint:</p>
                        <input type="radio" asp-for="improper_restraint_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="improper_restraint_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Unrestrained:</p>
                        <input type="radio" asp-for="unrestrained_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="unrestrained_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>DUI:</p>
                        <input type="radio" asp-for="dui_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="dui_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Intersection Related:</p>
                        <input type="radio" asp-for="intersection_related_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="intersection_related_True" value="1" />
                        <label>Yes</label>
                    </div>

                </div>


                <div class="form-row">

                    <div class="col-3">
                        <p>Wild Animal Related:</p>
                        <input type="radio" asp-for="wild_animal_related_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="wild_animal_related_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Domestic Animal Related:</p>
                        <input type="radio" asp-for="domestic_animal_related_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="domestic_animal_related_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Overturn Rollover:</p>
                        <input type="radio" asp-for="overturn_rollover_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="overturn_rollover_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Commercial Motor Vehicle Involved:</p>
                        <input type="radio" asp-for="commercial_motor_veh_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="commercial_motor_veh_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                </div>

                <div class="form-row">

                    <div class="col-3">
                        <p>Teenager Driver Involved:</p>
                        <input type="radio" asp-for="teenage_driver_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="teenage_driver_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Older Driver Involved:</p>
                        <input type="radio" asp-for="older_driver_involved_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="older_driver_involved_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Night/Dark Condition:</p>
                        <input type="radio" asp-for="night_dark_condition_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="night_dark_condition_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Single Vehicle Accident:</p>
                        <input type="radio" asp-for="single_vehicle_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="single_vehicle_True" value="1" />
                        <label>Yes</label>
                    </div>

                </div>


                <div class="form-row">

                    <div class="col-3">
                        <p>Distracted:</p>
                        <input type="radio" asp-for="distracted_driving_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="distracted_driving_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Drowsy Driving:</p>
                        <input type="radio" asp-for="drowsy_driving_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="drowsy_driving_True" value="1" />
                        <label>Yes</label>
                    </div>

                    <div class="col-3">
                        <p>Roadway Departure:</p>
                        <input type="radio" asp-for="roadway_departure_True" value="0" checked="checked" />
                        <label class="mr-3">No</label>

                        <input type="radio" asp-for="roadway_departure_True" value="1" />
                        <label>Yes</label>
                    </div>

                    @* after submitting the user will be sent to a page with their score *@

                    <div class="col-3">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                        
                    </div>

                </div>

            </form>



        </div>
    </div>




