@inherits LayoutComponentBase
@using INTEX2.Models.ViewModels

<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Crashes Administration</span>
            </div>

            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/crashes"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Admin Home</NavLink>
            </div>
            <br />
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Site Home</NavLink>
            </div>

            <br /><br /><br />

            <div>
                <p>Find Collisions by Crash ID: </p>
                <input class="w-75" type="number" @bind="crashid" />
                @if (crashid != 0) 
                {<a href="/admin/crashes/details/@crashid.ToString()" class="btn btn-outline-success w-75 mt-3">
                    Search
                </a> }
                else
                {
                    <p>No matching crash ID found</p>
                    <a href="/admin/crashes" class="btn btn-outline-success w-75 mt-3">
                    Search
                </a>
                }

            </div>

            <br /><hr /><br />

        </div>

        <div class="col">
            @Body
        </div>

    </div>

</div>

@code {
    int crashid = 0;
}