<!DOCTYPE html>
<html lang="en">

@* this page sets the layout for the views. start by bringing in the packages that we will be using like bootstrap, css, etc. *@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/paper-dashboard-master/assets/css/paper-dashboard.css" rel="stylesheet" />
    <link href="~/myStyles.css" rel="stylesheet" />
</head>

@* set navigation panels so that user can move throughout the website from any page *@

<body style="min-height: 100%;">

    <div class="">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <div class="logo-image-small">
                    <a class="simple-text logo-normal" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </div>

            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="">
                        <a asp-area="" asp-controller="Home" asp-action="Summary">
                            Crash Details
                            <i class="nc-icon nc-tile-56"></i>
                        </a>


                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">
                            Admin Login
                            <i class="nc-icon nc-single-02"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">
                            Admin Register
                            <i class="nc-icon nc-badge"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Inference" asp-action="EnterData">
                            Predictor
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </a>

                    </li>
                    <li>

                        <a asp-area="" asp-controller="Home" asp-action="MoreInfo">
                            More Info
                            <i class="nc-icon nc-alert-circle-i"></i>
                        </a>

                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #e9e9e0;">
        <div class="col-2">

        </div>

        @* here we bring in the cookie consent view, so that it pops up at the top of our pages for the user to accept or view the privacy policy *@

        <div class="col-10">
            <div class="row">
                <div class="col">
                    <partial name="_CookieConsentPartial" />
                </div>
                
            </div>

            @* bring in the body for whichever page we are on *@
            
            @RenderBody()


     @* using this part as a footer since the bootstrap footer was lame and uncooperative *@

            <div class="border-top text-muted mt-5 Myfooter">
                <div class="container">
                    &copy; 2022 - BYU Information Systems 2-4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>


        
    </div>


    @* specify packages and scripts *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/paper-dashboard-master/assets/js/core/jquery.min.js"></script>
    <script src="~/paper-dashboard-master/assets/js/core/popper.min.js"></script>
    <script src="~/paper-dashboard-master/assets/js/core/bootstrap.min.js"></script>
    <script src="~/paper-dashboard-master/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/paper-dashboard-master/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/paper-dashboard-master/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/paper-dashboard-master/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/paper-dashboard-master/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
</body>
</html>
